.main{
    border: solid red;
    height: 100vh;
    width: 100vw;
    
}
.top{
    border: solid orange;
}
.topmain{
    border: solid yellow;
}
.alien{
    border: solid green;
}
.alienStatus{
    border: solid blue;
    color: white;
    position: absolute;
    left: 1000px;
}
.alienHp{
    border: solid indigo;
}
.alienShield{
    border: solid violet;
}
.alienModel{
    border: solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.center{
    border: solid gray;
}
.scoreboard{
    border: solid chartreuse;
}
.bottom{
    border: solid cyan;
}
.player{
    border: solid brown;
}
.playerStatus{
    border: solid burlywood;
    color: white;
    position: absolute;
    left: 670px;
}
.playerHp{
    border: solid aqua;
}
.playerShield{
    border: solid darkseagreen;
}
.playerModel{
    border: solid fuchsia;
    justify-content: center;
    align-items: center;
    display: flex;
}
.buttons{
    border: solid gold;
    justify-content: center;
    align-items: center;
    display: flex;
}
body{
    background-image:url(https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg);
    /* background-image: url(); */
   
}